.react-tel-input .form-control {
  border: none!important;
  width: 100%!important;
  border-radius: 0!important;
}

/* .flag-dropdown {
  border: none!important;
  background-color: #fff!important;
  overflow: hidden!important;
  height: 96%!important;
} */